@model IEnumerable<zero_hunger.EF.CollectRequest>

@{
    ViewBag.Title = "AcceptedRequests";
    Layout = "~/Views/Shared/_EmployeesLayout.cshtml";
}

<h2>AcceptedRequests</h2>

<table class="table">
    <tr>

        <th>
            Food Description
        </th>
        <th>
            Quantity(Packets)
        </th>
        <th>
            Max Preservation Upto
        </th>
        <th>
            Status
        </th>
        <th>
            Restaurent Name
        </th>
        <th>
            Location
        </th>
        <th>
            Manager Name
        </th>
        <th>
            Contact Number
        </th>
        <th>Modify</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.food_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.max_preservation_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.collection_status)
            </td>

            @if (!item.restaurant_id.Equals(null))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.supplier_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.contact_number)
                </td>
            }
            else
            {
                <td>Deleted User</td>
                <td>Not Available</td>
                <td>Not Available</td>
                <td>Not Available</td>


            }
            @{
                if (!item.restaurant_id.Equals(null))
                {

                    if (item.collection_status.Equals("Accepted"))
                    {
                        <td>
                            @Html.ActionLink("Collected", "Collected", new { id = item.id }, new { @class = "btn btn-success-list " }) |
                            @Html.ActionLink("Cancel", "Cancel", new { id = item.id }, new { @class = "btn btn-danger " })
                        </td>
                    }
                    else if (item.collection_status.Equals("Collected"))
                    {
                        <td>
                            @Html.ActionLink("Delivered", "Delivered", new { id = item.id }, new { @class = "btn btn-success-list " })
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                }
                else
                {
                    <td></td>
                }

            }

        </tr>
    }

</table>