
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}



<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Admin Dashboard</h1>
        <p class="lead">Welcome to our zero hunger initiative! </p>
    </section>
    <br /><br />

          <div class="row">
              <section class="col-md-4">
                  <div class="mycard-header">
                      <h4>Total Employees</h4>
                  </div>
                  <div class="mycard">
                      <div class="circle"><span>@ViewBag.empcount</span></div>
                  </div>
              </section>
              <Section class="col-md-4">
                  <div class="mycard-header">
                      <h4>Total Restaurents</h4>
                  </div>
                  <div class="mycard">
                      <div class="circle"><span>@ViewBag.rescount</span></div>
                  </div>
              </Section>
              <Section class="col-md-4">
                  <div class="mycard-header">
                      <h4>Total Admins</h4>
                  </div>
                  <div class="mycard">
                      <div class="circle"><span>@ViewBag.admincount</span></div>
                  </div>
              </Section>
              <Section class="col-md-4">
                  <div class="mycard-header">
                      <h4>Pending Requests</h4>
                  </div>
                  <div class="mycard">
                      <div class="circle"><span>@ViewBag.pendingcount</span></div>
                  </div>
              </Section>

              <Section class="col-md-4">
                  <div class="mycard-header">
                      <h4>Collected Requests</h4>
                  </div>
                  <div class="mycard">
                      <div class="circle"><span>@ViewBag.collectedcount</span></div>
                  </div>
              </Section>

              <Section class="col-md-4">
                  <div class="mycard-header">
                      <h4>Delivered Requests</h4>
                  </div>
                  <div class="mycard">
                      <div class="circle"><span>@ViewBag.deliveredcount</span></div>
                  </div>
              </Section>
          </div>
</main>