@model zero_hunger.EF.Restaurant

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_RestaurentsLayout.cshtml";
}

<h2>Profile</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "PEdit", new { id = Model.id }, new { @class = "btn btn-default " }) 
    
</p>
